.tonglan {
	min-width: var(--w);
	background-color: #fbfbfb;
}
.none { display: none !important;}
	/* 头部样式 */
.nav {
	border-bottom: 1px solid #f3f3f3;
	text-align: justify;
	height: 40px;
}
.nav::after {
	content: "";
	display: inline-block;
	width: 100%;
}
.nav>.left {
	display: inline-block;
	font-size: 12px;
	color: #999;
	font-weight: normal;
}
.nav>.right {
	display: inline-block;
}
.nav>.right>ul {
	font-size: 0;
}
.nav>.right>ul>li {
	display: inline-block;
	margin-left: 10px;
	height: 40px;
	line-height: 40px;
}
.nav>.right>ul>li>a {
	font-size: 12px;
	color: #999;
	font-weight: normal;
}
/* header */
.header-wrapper {
	height: 90px;
}
.header {
	width: 100%;
	background-color: #fff;
}
.header-container>a {
	display: inline-block;
	width: 268px;
	height: 85px;
	float: left;
}
.header-container>a::before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.header-container>a>img {
	display: inline-block;
	width: 90%;
	vertical-align: middle;
}
.menu>.menu-l>ul>li>a>span>img {
	height: 16px;
	width: 16px;
	vertical-align: middle;
	transition: all 0.5s;
}
.menu>.menu-l>ul>li>a:hover>span>img {
	transform: rotate(90deg);
}
.search {
	width: 450px;
	height: 80px;
	display: inline-block;
	margin-left: 150px;
	position: relative;
}
.search input {
	width: 400px;
	height: 30px;
	outline: none;
	border: 2px solid #15ddd3;
	border-radius: 20px;
	margin-top: 20px;
	padding: 0 60px 0 16px;
	
}
.search>a {
	position: absolute;
	right: -30px;
	top: 20px;
	height:33px;
	width: 60px;
	background-color: #15ddd3;
	border-radius: 18px;
}
.search>a>img {
	height:20px;
	width: 20px;
	padding: 7px 20px;
}
.search>ul {
	font-size: 0;
	margin-left: 10px;
}
.search>ul>li {
	display: inline-block;
	margin: 5px 10px 20px 10px;
}
.search>ul>li>a {
	font-size: 12px;
	color: #6f6e6e;
	transition: all 0.5s;
}
.search>ul>li>a:hover{
	color: #e83733;
}
.cart {
	width: 160px;
	height: 40px;
	border: 1px solid #0069c8;;
	display: inline-block;
	float: right;
	box-sizing: border-box;
	margin-top:15px;
	padding: 0 30px;
	border-radius: 10px;
	text-align: center;
}
.cart>a {
	font-size: 12px;
	height: 35px;
	line-height: 35px;
	width: 100%;
	color: #000000;
	padding: 0 5px;
}
.cart>img {
	height: 20px;
	width: 20px;
	vertical-align: middle;
}
li.tip {
	font-size: 12px;
	color:#2E8AE4;
	position: relative;
}
li.tip>span {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 50;
	display: none;
}
li.tip:hover>span {
	display: block;
}
li.tip>span>img {
	background-color: #fff;
	width: 120px;
	height: 120px;
	padding: 10px 20px;
	box-shadow: 0 0 10px 2px #e2e2e2;
}
li.tip>span>p {
	background-color: #fff;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 12px;
	border-radius: 0 0 5px 5px;
	margin-top: 25px;
	cursor: pointer;
}
/* 菜单样式 */

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.head {
	/* box-sizing: border-box; */
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #2e8ae4;
	height: 40px;
}
.menu-wrapper {
	height: 100%;
}
.menu {
	width: 100%;
	font-size: 0;
	position: relative;
}
.menu>.menu-l {
	display: inline-block;
	height: 100%;
	width: 180px;
	vertical-align: middle;
}
.menu>.menu-l>span {
	box-sizing: border-box;
	display: inline-block;
	font-size: 12px;
	background-color: #2e8ae4;
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	width: 100%;
	color: #fff;
	cursor: pointer;
}
.menu>.menu-l>span>img {
	width: 15px;
	height: 20px;
	vertical-align: middle;
}
.menu>.menu-l:hover>ul {
	display: block;
}
.menu>.menu-l>ul {
	display: none;
	position: absolute;
	z-index:10;
	left: 0;
	top: 40px;
	width: 180px;
	height: 400px;
	background: rgba(46, 138, 228, 0.9) ;
}
.menu>.menu-l>ul>li:hover {
	background-color: rgba(0,0,0,0.3);
	transition: all 0.5s;
}
.menu>.menu-l>ul>li {
	height: 40px;
}
.menu>.menu-l>ul>li>a {
	display:block;
	text-align: justify;
	margin: 0 15px;
}
.menu>.menu-l>ul>li>a::after {
	content: "";
	display: inline-block;
	width: 100%;
}
.menu>.menu-l>ul>li>a>span {
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	color: #fff;
}
.content {
	position: absolute;
	left: 180px;
	top: 0;
	height: 400px;
	width: 400px;
	padding-right: 40px;
	background-color: rgba(255, 255, 255, 0.9);
	display: none;
}
.menu>.menu-l>ul>li:hover>.content {
	display: block;
	box-shadow: 0px 0 10px 0.5px #aeaeae;
}
.content>li {
	display: inline-block;
	width: 33.333333%;
}
.content>li:hover>a {
	background-color: #2E8AE4;
	color: #fff;
	transition: all 0.5s;
}
.content>li>a {
	display: block;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	padding-left: 20px;
	color: black;
}
.menu>.menu-r {
	display: inline-block;
	vertical-align: middle;
}
.menu>.menu-r>ul {
	font-size: 0;
	margin-left: 4px;
	position: relative;
	z-index: 1 	;

}
.menu>.menu-r>ul>li {
	display: inline-block;
	font-size: 12px;
	height:40px;
	line-height: 40px;
}
.menu>.menu-r>ul>li:hover>a {
	background-color: #2e8ae4;
	border-radius: 4px 4px 0 0;
	color: #fff;
	transition: all 0.5s;
}
.menu>.menu-r>ul>li>a {
	font-size: 12px;
	padding: 0 26px;
	color: black;
	height: 100%;
	display: inline-block;
}
/* 收货地址 */
.inside-container {
	background-color: #f4f4f4;
	overflow: hidden;
}
.all-wrapper {
	background-color: #fff;
	margin-top: 15px;
	height: 100%;
}
.edit-dialog-text {
	line-height: 48px;
	padding: 0 20px;

	margin-bottom: 20px;
}

.edit-dialog-text>span {
	font-weight: normal;
	color: #333;
	font-size: 14px;
	display: block;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}
.edit-dialog-text>a {
	float: right;
	font-size: 12px;
}
.edit-dialog-text>p {
	color: #666;
	font-size: 14px;
	display: inline-block;
	padding-right: 30px;
	vertical-align: middle;
}
.edit-dialog-text>img {
	width: 1000px;
	height: 200px;
	margin-left: 80px;
}
.title {
	border-bottom: 1px solid #eee;
	
}
.title>span {
	margin-left: 117px;
	color: #999;
	font-size: 14px;
}
.title-left {
	margin-right: 420px;
}

.information-item {
	height: 560px;
	position: relative;
	margin-top: 20px;
}
.img-1,.img-2 {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	box-shadow: 0 0 10px 1px #d5d5d5;
}
.img-2 {
	width: 350px;
	height:200px;
}
.img-1 {
	width: 580px;
	height:560px;
}
.show {
	display: block;
}
ul.pay-type {
	height: 50px;
}
ul.pay-type>li:hover {
	border: 1px solid #2e8ae4;
}
ul.pay-type>li {
	width: 150px;
	height: 50px;
	border: 1px solid #e5e5e5;
	text-align: center;
	line-height: 50px;
	float: left;
	margin-right: 20px;
	transition: all, 0.5s;
}
input.information {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin: 10px;
}

ul.pay-type>li>img {
	vertical-align: middle;
}

/* 地址栏 */
.address-list {
	margin: 20px 20px;
	
	font-size: 0;
	overflow: hidden;
}
.address-list li {
	float: left;
	width: 230px;
	height: 140px;
	border: 1px solid #e5e5e5;
	position: relative;
	padding: 20px 20px 0 20px;
	margin:10px 10px 0 0;
	transition: all 0.5s;
	border-radius: 3px;
}
.address-list li:hover {
	border: 1px solid #2E8AE4 !important;
	box-shadow: 0 0 10px 1px #d2d2d2;

}
.sign {
	border: 1px dashed #2E8AE4 !important;
}
.address-list li:hover>span.btn>img {
	opacity: 1;
}
span.name,span.phone{
	color: #333;
	font-size: 14px;
}
span.name,span.phone,span.region {
	display: block;
}
span.phone,span.region {
	padding-top: 15px;
}
span.region {
	color: #999;
	font-size: 12px;
}
.btn-add {
	text-align: center;
	height: 120px;
	line-height: 120px;
	font-size: 40px;
	cursor: pointer;
	color: #2E8AE4;
}
.btn {
	position: absolute;
	right: 5px;
	bottom: 10px
}
.btn-modify,.btn-remove {
	padding: 3px;
	margin: 25px 5px 0 5px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	opacity: 0;
	transition: all 0.5s;
}

.btn-default,.default-address {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
.btn-default {
	border: 0;
	background-color: #fff;
	color: #666;
}
img.mark {
	position: absolute;
	right: 95px;
	top: 10px;
	width: 16px;
	height: 16px;
}
ul.address-list li span.default-wrapper .default-address { font-size: 12px; color: #2E8AE4; display: none;}
ul.address-list li span.default-wrapper.is-default .default-address { font-size: 12px; color: #2E8AE4; display: block;}
ul.address-list li span.default-wrapper .btn-default { display: block; }
ul.address-list li span.default-wrapper.is-default .btn-default { display: none; }


.addrress-wrapper {
	position: relative;
}
.edit-dialog-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 8;
	background-color: rgba(0,0,0,0.5);
	display: none;
}
.edit-dialog-wrapper.show {
	display: block;
}
.edit-dialog {
	height: 360px;
	width: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	border-radius: 4px;
	padding: 0 40px;
}
.edit-dialog p {
	margin-top: 20px;
	text-align: center;
}
.edit-dialog select{
	width: 230px;
	height: 30px;
	margin-top: 20px;
	outline: none;
	
}
.edit-dialog input {
	margin-top: 20px;
	width: 470px;
	height: 30px;
	display: block;
	outline: none;
}
.edit-dialog span {
	display: block;
	margin-top: 20px;
	text-align: center;
}
.btn-ok,.btn-cancel {
	width: 60px !important;
	display: inline-block !important;
	background: #2e8ae4;
	color: #FFF;
	font-size: 12px;
	line-height: 30px;
	border-radius: 3px;
	cursor: pointer;
	border: 0;
	margin-top: 0 !important;
	margin-right: 10px;
}
.order-form-wrapper {
	position: relative;
}
.order-form-wrapper>input {
	width: 200px;
	height: 30px;
	display: inline-block;
	outline: #555;
}
.order-form-wrapper>a,.order-form-wrapper>input {
	position: absolute;
	right: 60px;
	top: 30px;
}
.order-form-wrapper>a {
	background-color: #2E8AE4;
	padding: 8px;
	width: 34px;
	height: 34px;
	box-sizing: border-box;
}
a>img {
	height: 16px;
	width: 16px;
}
.order-form-header {}
.order-form-header>h3 {
	display: inline-block;
}
.order-form-header>span {
	font-size: 12px;
	color: #666;
	margin-left: 10px;
	
}
.order-form-wrapper>input {}
.order-form-container {
	margin-top: 20px;
	
}
.order-form-container>li {
	display: inline-block;
	margin-right: 30px;
	font-size: 0px;
	transition: all 0.5s;
	
	
}
.order-form-container>li>a {
	font-size: 14px;
	color: #333;
	height: 30px;
	line-height: 30px;
}
.order-form-container>li>span {
	height: 2px;
	width: 100%;
	display: inline-block;
	transition: all 0.5s;
	
}
.order-form-container>li:hover>a {
	color: #2E8AE4;
	
}
.order-form-container>li:hover>span {
	background-color: #2E8AE4;
}


.inside-footer {
	border-top: 1px solid #f3f3f3;
	font-size: 12px;
	line-height: 55px;
	color: #333;
	
}
.inside-footer span {
	
}
.inside-footer>a>span {
	color: #333;
	vertical-align: middle;
	margin-right: 450px;
}
.color { color: #e83733; }
.inside-footer img {
	vertical-align: middle;
	width: 25px;
	height: 25px;
	margin-left: 20px;
}
.price-total {
	margin-left: 50px;
	display: inline-block;
}
.price-total>span {
	font-size: 20px;
	margin-right: 20px;
}
.price-total>button {
	
	background-color: #e83733;
	cursor: pointer;
	border: 0;
	height: 55px;
	width: 130px;
	border-radius: 3px;
	font-size: 20px;
}
button>a {
	color: #fff;
}
/* float-nav 固定定位  */
.float-nav {
	position: fixed;
	right: 3px;
	bottom: 50px;
}
.nav-show {
	height: 48px !important;
	border: 1px solid #2E8AE4 !important;
 }
.back-sevice,.past-sevice {
	position: relative;
	width: 48px;
	height: 48px;
	border: 1px solid #2E8AE4;
	background-image: url(../images/float.png);
}

.past-sevice {
	background-position: right 0px ;
	
}
.back-sevice {
	background-position: right -48px ;
}
.return-top {
	position: relative;
	width: 48px;
	height: 0;
	background-image: url(../images/float.png);
	background-position: right 48px ;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}
/* 返回顶部划出的内容 */
.past,.return,.back {
	width: 48px;
	height: 48px;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../images/float.png);
	display: none;
}
.past { background-position: left -1px; }
.past-sevice:hover>.past { display: block; }
.back { background-position: left -50px; }
.back-sevice:hover>.back,.back-sevice:hover>.codes {
	display: block;
}
.return { background-position: left 47px; }
.return-top:hover>.return { display: block; }
.codes {
	width: 200px;
	height: 200px;
	position: absolute;
	left: -205px;
	top: -101px;
	display: none;
}
.codes>img {
	width: 100%;
	height: 100%;
}